<section id="comment-area">
    <h2>Comments</h2>
    <%= render collection: commentable.comments %>

    <%= bootstrap_form_for @comment do |form| %>
        <div class="media comment">
            <div class="media-left">
                <%= gravatar_image_tag comment.author.email,
                    alt: comment.author.name,
                    gravatar: { default: :identicon, size: 50 }
                %>
            </div>
            <div class="media-body">
                <%= form.text_area :comment %>

                <div class="row">
                    <div class="col-sm-3 col-sm-offset-9">
                        <%= form.submit class: 'btn btn-block btn-primary' %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</section>

