<section id="comment-area">
    <h2>Comments</h2>
    <%= render partial: '/comments/comment', collection: @comments %>

    <%= form_for [@commentable, @new_comment], layout: :basic do |form| %>
        <%= form.hidden_field :commentable_id %>
        <%= form.hidden_field :commentable_type %>

        <div class="media comment">
            <div class="media-left">
                <%= gravatar_image_tag current_user.email,
                    alt: current_user.name,
                    gravatar: { default: :identicon, size: 50 }
                %>
            </div>
            <div class="media-body">
                <%= form.text_area :comment, label: 'New Comment' %>

                <div class="row">
                    <div class="col-sm-3 col-sm-push-9">
                        <%= form.submit class: 'btn btn-primary btn-block' %>
                    </div>
                    <div class="col-sm-9 col-sm-pull-3">
                        <p class="small">You can format your comment using
                        <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</section>

