%article.media.comment
  .media-left
    = comment.author.avatar

  .media-body
    = comment.byline
    = comment.rendered_body

    - if policy(comment).destroy?
      = form_for [comment.commentable, comment], layout: :inline, method: :delete do |form|
        = form.submit '[Delete]', class: 'btn-xs', context: :link

