<article class="media comment">
    <div class="media-left">
        <%= gravatar_image_tag comment.author.email,
            alt: comment.author.name,
            gravatar: { default: :identicon, size: 50 }
        %>
    </div>
    <div class="media-body">
        <%= comment.byline %>
        <%= comment.rendered_body %>
        <% if policy(comment).destroy? %>
            <%= form_for [comment.commentable, comment], layout: :inline, method: :delete do |form| %>
                <%= form.submit '[Delete]', class: 'btn-xs', context: :link %>
            <% end %>
        <% end %>
    </div>
</article>

