- summary = local_assigns.fetch :summary, false

%article.article
  .page-header
    %h1.article-title= link_to article.title, article
    = article.byline

  .article-body
    - if summary
      = article.rendered_summary
    - else
      = article.rendered_body

  - if summary
    %ul.list-inline
      %li
        =link_to article, class: 'btn btn-primary' do
          Read the full article
      %li
        = link_to article_path(article, anchor: 'comment-area'), class: 'btn btn-default' do
          Read the comments (#{article.comments.count})

