<% content_for :head do %>
    <%= stylesheet_link_tag    "blog/application", media: "all" %>
    <%= javascript_include_tag "blog/application" %>
<% end %>

<% content_for :toolbar do %>
    <% for_user do |f| %>
        <% f.with_role 'writer' do %>
            <%= toolbar_item 'New post', new_article_path %>
        <% end %>
    <% end %>
<% end %>

<% content_for :content do %>
    <div class="row">
        <div class="col-sm-9">
            <%= yield %>
        </div>
        <div class="col-sm-3">
            <h3>Test</h3>
            <p>Hello world. This is a column. Column column column.</p>
        </div>
    </div>
<% end %>

<%= render template: "layouts/application" %>
