<%= navbar fluid: true do %>
    <%= vertical do %>
    <% end %>

    <%= horizontal do %>
        <%= nav class: 'navbar-right' do %>
            <% if authenticated? %>
                <%= toolbar_text do %>
                    Welcome, <a href="#" class="navbar-link"><%= current_user.name %></a>
                <% end %>
            <% end %>

            <%= content_for :toolbar %>

            <% if authenticated? %>
                <%= toolbar_item 'Log out', '/logout', class: 'browserid_logout' %>
            <% else %>
                <%= toolbar_item '/login', class: 'browserid_login', title: 'Log in using Persona' do %>
                    <span class="icon-persona-logo-glyph icon"></span> Log in
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>

