<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= content_or_default_for :title, "Uplifting Lemma" %></title>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

        <%= content_for :head %>

        <%= disqus_init %>
        <%= setup_browserid %>
        <%= csrf_meta_tags %>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="container" class="container">
            <div id="page">
                <div id="header" class="jumbotron">
                    <h1><%= content_or_default_for :app_title, "Uplifting Lemma" %></h1>
                    <% if content_for? :subtitle %>
                        <h2><%= content_for :subtitle %></h2>
                    <% end %>
                </div>

                <div id="content">
                    <%= content_for(:content) %>
                </div>

                <div id="footer">
                    <%= content_for(:footer) %>
                </div>
            </div>
        </div>
    </body>
</html>
