<!DOCTYPE html>
<html>
<head>
  <title>Uplifting Lemma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= disqus_init %>
  <%= setup_browserid %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
