<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            <%= content_for :title or @app.name %>
        </title>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag    app_theme,     media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application',               'data-turbolinks-track' => true %>

        <%= content_for :head %>

        <%= disqus_init %>
        <%= setup_browserid %>
        <%= csrf_meta_tags %>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <%= content_tag :body, class: app_class do %>
        <div id="background" class="theme-dark-background">
            <div id="container" class="container">
                <div id="page" class="theme-page-shadow">
                    <div id="header" class="jumbotron theme-primary-background theme-primary-image">
                        <h1><%= link_to @app.name, app_route.root_url %></h1>

                        <% if not @app.is_default? %>
                            <h2>
                                <span class="powered-by">Powered by</span>
                                <%= link_to "Uplifting Lemma", app_route(App.default).root_url %>
                            </h2>
                        <% end %>

                        <%= content_for :header %>
                    </div>

                    <div id="content">
                        <%= content_for :content or yield %>
                    </div>

                    <div id="footer">
                        <% if not @app.is_default? %>
                            <!-- TODO: Write copyright code. -->
                            <span class="powered-by">Powered by</span>
                            <%= link_to "Uplifting Lemma", app_route(App.default).root_url %>
                        <% end %>
                        <%= content_for :footer %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</html>
