<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            <%= content_for :title or @app.name %>
        </title>

        <%= stylesheet_link_tag    'application',  media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag    app_stylesheet, media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application',                'data-turbolinks-track' => true %>

        <%= content_for :head %>

        <%= setup_browserid %>
        <%= csrf_meta_tags %>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <%= content_tag :body, class: app_class do %>
        <div id="background" class="theme-dark-background">
            <div id="container" class="container">
                <div id="page" class="theme-page-shadow">
                    <header id="header" role="banner" class="jumbotron theme-primary-background theme-primary-image">
                        <h1><%= link_to @app.name, app_route.root_url %></h1>

                        <% if not @app.default? %>
                            <h2>
                                <span class="powered-by">Powered by</span>
                                <%= link_to "Uplifting Lemma", app_route(App.default).root_url %>
                            </h2>
                        <% end %>
                    </header>

                    <%= render partial: '/layouts/toolbar' %>

                    <main id="content" role="main">
                        <%= content_for :content %>
                    </main>

                    <footer id="footer" role="contentinfo">
                        <% if not @app.default? and @app.owner.present? %>
                            <%= @app.name %> &copy; 2015 <%= @app.owner.name %>.
                        <% end %>
                        Uplifting Lemma &copy; 2015 Chris Bouchard.
                    </footer>
                </div>
            </div>
        </div>
    <% end %>
</html>
